[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.5"

[packages]
requests = "*"
ecdsa = "==0.13"
pytest = "*"
pycrypto = "==2.6.1"
scrypt = "==0.8.0"
aiohttp = "*"
yarl = "*"
async-timeout = "*"
